/*@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}*/
/*img {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}*/

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    text-align: center;
	letter-spacing: 1px;
	/*color: #3d4970;*/
  background-color: #0099FF;

}

.start_button {
  position: relative;
}

#logo{
  border: #fff solid 3px;
}

.instructions {
position: absolute;
top: 20%;
width: 600px;
height: 300px;
background: white;
text-align: center;
border: solid gray 2px;
padding: 30px;
left: 20%;
}



#info {
  font-size: 54px;
  font-weight: 300;
  /*color: #fff;*/
  color: #0050ef;
}



h2 {
  color: #0050ef;
}



.overlay {
  width: 100%;
  height: 100%;
  color: #fff;
  /*background: #e74c3c;*/
  background: #AA076B;
  /*background: url('../img/background_image.jpg')*/
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
  display: none;
}


ul li {
	display: inline;
  padding: 25px;
}

nav ul li:first-child {
	float: left;

}

nav ul li:last-child {
	float: right;
}

nav a {
	/*color: #0050ef;*/
  color: #AA076B;
}

.img {
	margin: 2px 0 0 0;
}

#grid_container {
  width: 600px;
  height: 800px;
  margin-top: auto;
  clear: both;
}

.box {
  height: 90px;
  width: 90px;
}

.score_container {
  border:  3px solid #fff;
  height: 300px;
  width: 225px;
  margin: auto;
}

#timer {
  font-size: 54px;
  /*color: gray;*/
  color: #0050ef;
}

.row {
  position: fixed;
  margin-bottom: auto;
}
